<!doctype HTML>
<html>

<head>
  <title>
    Nerd Quote Machine
  </title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
</head>

<body>
  <div class=" container fluid">
    <div id="generator" class="container fluid">
      <h1 class="text-center">Nerdy Quote-mo-tron</h1>
      <div class="col-xs-12" id="output">
        <h3 id="quote" class="text-center">Click the button to generate a movie quote!</h3>
        <h3 id="source" class="text-center"></h3>
      </div>
      <div id="buttons" class="row">
        <div class="text-left col-xs-4 col-s-2 col-md-2 col-lg-2">
          <a href="#" class="btn btn-info twitter" role="button" target="_blank"><img src="http://darryl-parks.com/images/TwitterLogo_white.png"></a>
        </div>

        <div class="text-right col-xs-4 col-s-8 col-md-10 col-lg-10">
          <button id="generateQuote" class="btn btn-info">
            <h4>Click for a Quote</h4></button>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript" src="/client.js"></script>
</body>

</html>